#droppedImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 8px; /* Space between images */
  }

  #sidebar {
    order: 2; /* Ensure sidebar appears below pet cards on mobile */
  }
  
  @media (min-width: 768px) {
    #sidebar {
      order: 1; /* Reset order for desktop */
    }
  }


  @keyframes spring {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .animate-spring {
    animation: spring 0.5s ease-in-out;
  }